<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<!-- 
	
		Place <Import Project="$(SolutionPath).build.config" /> into your project to use these settings

	-->
	<PropertyGroup>
		<RootDir>$(SolutionDir)</RootDir>

    <SolutionVersionMajor>1</SolutionVersionMajor>
    <SolutionVersionMinor>0</SolutionVersionMinor>
    <SolutionVersionBuild>0</SolutionVersionBuild>
  </PropertyGroup>
	
  <Import Project="$(RootDir)Common.build.config" />
</Project>
